body {
    width: 1200px;
}

.navigation {
    overflow: hidden;
    background: #d3d3d3;
}

.navigation-logo {
    width: 70px;
}

.navigation-info-text {
    float: left;
    background: #d3d3d3;
    padding: 30px 30px 30px 30px;
}

.navigation-menu {
    background: #aed8e6;
    float: left;
    width: 500px;
    height: 80px;
    padding: 15px;
}
.navigation-elem{padding: 10px;}
.content-intro {
    background: #d3d3d3;
    padding: 10px;
}

.footer {
    background: #d3d3d3;
    color: #fff;
    height: 100px;
}

.content-wide-text {
    color: #546e68;
    clear: left;
}

.box {
    background: #ff6248;
    float: left;
    width: 100px;
    height: 80px;
    border: 1px solid #fff;
}

#box2 {
    background: rgb(22, 133, 127);
    width: 200px;
}

#box4 {
    background: #1700ff;
    width: 300px;
}

.small-box {
    background: #808080;
    width: 50px;
}

.content {
    clear: left;
}

.content-add-text {
    margin-bottom: 80px;
}

.footer-text {
    padding: 30px;
    font-size: 20pt;
}